.advantages__item {
  position: relative;
}

.advantages__container {
  padding: 26px 35px 24px;

  text-align: center;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.advantages__item--full:first-child .advantages__container {
  padding-top: 71px;
  padding-bottom: 38px;
}

.advantages__title {
  margin: 0 0 11px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.advantages__item p {
  margin: 0;
}

.advantages__description br {
  display: none;
}

.advantages__container p + p {
  margin-top: 17px;
}

.advantages__wrapper .advantages__container {
  padding: 39px 20px 35px;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages__wrapper .advantages__title {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__services {
  padding-bottom: 44px;

  background-color: #ffffff;
}

.advantages__services-item {
  padding: 33px 15px 0 65px;

  text-transform: uppercase;

  background-repeat: no-repeat;
  background-position: 18px 23px;
  background-size: 40px 40px;
}

.advantages__services-item .advantages__title {
  margin-bottom: 16px;
}

.advantages__services-item--motel {
  background-image: url("../img/svg/icon-house.svg");
}

.advantages__services-item--meal {
  background-image: url("../img/svg/icon-burger.svg");
}

.advantages__services-item--souvenirs {
  background-image: url("../img/svg/icon-gift.svg");
}

.advantages__services-item--souvenirs br {
  display: none;
}

.advantages__item:not(.advantages__item--full)::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;

  height: 1px;

  background-color: #d6d6d6;
}

.advantages__item:last-child::after {
  display: none;
}
