.form {
  @media (min-width: 768px) {
    padding: 55px 40px 35px;
  }

  @media (min-width: 1200px) {
    padding: 15px 100px 37px;
  }
}

.form__wrapper-fieldset {
  @media (min-width: 768px) {
    position: relative;

    display: grid;

    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    gap: 60px;
  }

  &::before {
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      top: 16px;
      bottom: 16px;
      left: 50%;

      width: 1px;

      background-color: #dbdbdb;
      transform: translateX(-50%);
    }
  }
}

.form__fieldset {
  margin: 0;
  padding-top: 18px;

  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    padding: 17px 20px 27px;

    border: none;
  }
}

.form__fieldset--contact {
  padding-top: 40px;
}

.form__fieldset--feedback {
  padding-top: 32px;
  padding-bottom: 16px;

  @media (min-width: 768px) {
    padding-top: 35px;
    padding-bottom: 24px;
  }

  @media (min-width: 1200px) {
    padding-top: 44px;
    padding-bottom: 35px;
  }
}

.form__options-list {
  display: grid;
  padding-left: 10px;

  gap: 16px;
  grid-template-columns: 1fr;
}

.form__fieldset--feedback .form__options-list {
  @media (min-width: 768px) {
    padding: 0 36px;

    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    padding: 19px 54px 16px;

    gap: 16px 62px;
    grid-template-columns: repeat(3, auto);
  }
}

.form__fieldset--description {
  padding-top: 37px;
  padding-bottom: 27px;

  border: none;

  @media (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  @media (min-width: 1200px) {
    padding-top: 27px;
    padding-bottom: 24px;
  }
}

.form__fieldset--submit {
  padding-top: 25px;
  padding-bottom: 27px;

  border: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 25px;
  }

  @media (min-width: 1200px) {
    max-width: 810px;
    margin: 0 auto;
  }
}

.form__fieldset-title {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 28px;

    font-size: 21px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 26px;
  }
}

.form__contact-item {
  margin-bottom: 16px;

  &:last-child {
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.form__contact-label {
  padding-left: 25px;

  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-family;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);

    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

.form__fieldset--contact .form__contact-input {
  padding-right: 60px;

  background-repeat: no-repeat;
  background-position: center right -4px;

  &--phone {
    background-image: url("../img/svg/icon-phone.svg");
  }

  &--mail {
    background-image: url("../img/svg/icon-mail.svg");
  }
}

.form__fieldset--attractions {
  padding-top: 32px;

  @media (min-width: 768px) {
    padding-top: 24px;
  }
}

.form__fieldset--attractions .form__options-list {
  @media (min-width: 768px) {
    padding: 0 83px;

    gap: 16px 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    padding: 32px 45px;

    gap: 16px 62px;
    grid-template-columns: repeat(4, auto);
  }
}

.form__options-item {
  display: grid;
  align-items: center;

  gap: 16px;
  grid-template-columns: auto 1fr;
}

.form__options-input {
  position: relative;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: #f2f2f2;
  border-radius: 4px;

  appearance: none;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__options-item:active .form__options-input::after {
  opacity: 0.3;
}

.form__options-input[type="radio"] {
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 14px;

    width: 16px;
    height: 16px;

    background-color: #333333;
    border-radius: 50%;
    transform: translateY(-50%);

    &:hover {
      background-color: #333333;
    }

    &:active {
      background-color: #333333;
      opacity: 30%;
    }
  }
}

.form__options-input[type="checkbox"] {
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 22px;
    height: 16px;

    background-image: url("../img/svg/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);

    &:hover {
      background-color: #333333;
    }

    &:active {
      background-color: #333333;
      opacity: 30%;
    }
  }
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;

  @media (min-width: 768px) {
    width: 324px;
    margin-left: 0;
  }

  @media (min-width: 1200px) {
    width: 384px;
  }
}

.form__message {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-family;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  resize: none;

  @media (min-width: 768px) {
    height: 160px;
    padding-top: 12px;
  }

  @media (min-width: 1200px) {
    display: block;
    max-width: 770px;
    margin: 0 auto;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

.form__note {
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 14px;
    color: #333333;
  }
}

.form__fieldset-title--lines {
  @media (min-width: 768px) {
    overflow: hidden;
  }
}

.form__fieldset-title--lines span {
  @media (min-width: 768px) {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;

    vertical-align: middle;
  }
}

.form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
  @media (min-width: 768px) {
    content: "";
    position: relative;

    display: inline-block;
    width: 100%;
    height: 1px;

    vertical-align: middle;

    background-color: #dbdbdb;
  }
}

.form__fieldset-title--lines::before {
  @media (min-width: 768px) {
    margin-left: -100%;
  }
}

.form__fieldset-title--lines::after {
  @media (min-width: 768px) {
    margin-right: -100%;
  }
}
