.gallery__list {
  @include list-reset;
}

.gallery__title {
  @include text-bold;

  margin-top: 15px;
}

.gallery__item {
  padding-top: 24px;
  padding-bottom: 25px;

  border-top: solid 1px #e5e5e5;
}

.gallery__container {
  margin-left: 20px;

  text-align: left;
}

.gallery__photographer {
  @include text-narrow;

  text-transform: none;
}
