<<<<<<< HEAD
.main-nav__logo {
  margin-left: 86px;
}

.main-nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $text-color;

=======
.main-nav__list {
  display: none;
  align-items: center;

>>>>>>> 474e62bb8cbfc7cfe15f498a7b0bae5c64e477d1
  background-color: $base-color;
}
