.main-nav__logo {
  margin-left: 86px;
}

.main-nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;

  background-color: $base-color;
}

.site-list__item {
  @include text-bold;
}

.site-list__link {
  color: #ffffff;
}
