.main-footer {
  padding: 33px 20px 34px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 34px;
  }

  @media (min-width: 1200px) {
    padding: 37px 120px 34px;
  }
}

.main-footer--index {
  padding-top: 44px;

  @media (min-width: 768px) {
    padding-top: 36px;
  }

  @media (min-width: 1200px) {
    padding: 37px 120px 34px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #81b3d2;

    outline: none;
  }

  &:active {
    color: #b3b3b3;
  }
}

.main-footer__copyright {
  color: #000000;
  text-decoration: none;
}
