.site-list__item {
  text-align: center;

  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:first-child {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

    @media (min-width: 768px) {
      box-shadow: none;
    }
  }

  @media (min-width: 768px) {
    width: 153px;

    box-shadow: none;
  }

  @media (min-width: 1200px) {
    width: 239px;
  }

  &:nth-child(4n-2) {
    @media (min-width: 768px) {
      margin-right: 76px;
    }

    @media (min-width: 1200px) {
      margin-right: 120px;
    }
  }

  &:nth-child(4n-1) {
    @media (min-width: 768px) {
      margin-left: 76px;
    }

    @media (min-width: 1200px) {
      margin-left: 120px;
    }
  }
}

.site-list__link {
  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  vertical-align: baseline;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 768px) {
    padding: 18px 5px 17px;

    font-size: 14px;
    line-height: 21px;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      opacity: 30%;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding: 17px 80px 12px 80px;

    &:hover,
    &:focus {
      background-color: #669ec0;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      background-color: #5496bd;
    }
  }
}

.site-list__link--current {
  color: #766357;

  @media (max-width: $mobile-width-only) {
    color: #ffffff;
  }
}
