.video {
  padding-top: 38px;
  padding-bottom: 49px;

  text-align: center;
  text-transform: uppercase;
}

.video__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.video__text {
  margin: 0 0 38px;
  padding: 0 10px;

  font-size: 14px;
  line-height: 21px;
}
