@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format(woff2), url("../fonts/ptsans.woff") format(woff);
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format(woff2), url("../fonts/ptsansbold.woff") format(woff);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-container {
  flex-grow: 1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advantages__item {
  position: relative;
}

.advantages__container {
  padding: 26px 35px 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.advantages__item--full:first-child .advantages__container {
  padding-top: 71px;
  padding-bottom: 38px;
}

.advantages__title {
  margin: 0 0 11px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.advantages__item p {
  margin: 0;
}

.advantages__description br {
  display: none;
}

.advantages__container p + p {
  margin-top: 17px;
}

.advantages__wrapper .advantages__container {
  padding: 39px 20px 35px;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__wrapper .advantages__title {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__services {
  padding-bottom: 44px;
  background-color: #ffffff;
}

.advantages__services-item {
  padding: 33px 15px 0 65px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 18px 23px;
  background-size: 40px 40px;
}

.advantages__services-item .advantages__title {
  margin-bottom: 16px;
}

.advantages__services-item--motel {
  background-image: url("../img/svg/icon-house.svg");
}

.advantages__services-item--meal {
  background-image: url("../img/svg/icon-burger.svg");
}

.advantages__services-item--souvenirs {
  background-image: url("../img/svg/icon-gift.svg");
}

.advantages__services-item--souvenirs br {
  display: none;
}

.advantages__item:not(.advantages__item--full)::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: #d6d6d6;
}

.advantages__item:last-child::after {
  display: none;
}

.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px 18px 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.form__fieldset {
  margin: 0;
  padding: 24px 20px 23px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.form__fieldset-title {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.form__contact-label {
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
}

.form__options-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__feedback {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  resize: none;
}

.form__note {
  display: block;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}

.gallery__item {
  padding: 24px 20px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.gallery__img {
  display: block;
  height: 280px;
}

.gallery__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__container {
  padding: 15px 0;
}

.gallery__description {
  margin-bottom: 11px;
}

.gallery__title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.gallery__like {
  display: grid;
  align-items: baseline;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 14px;
  grid-template-columns: auto auto;
}

.gallery__like svg {
  fill: currentColor;
}

.gallery__like span {
  color: #000000;
}

.hero__bg {
  position: relative;
  padding-top: 52px;
  padding-bottom: 67px;
  background-color: #8ea8c5;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero--index .hero__bg {
  padding-top: 90px;
  padding-bottom: 85px;
}

.hero__bg img {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;
}

.hero--index img {
  width: 282px;
  height: 214px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.hero__description {
  padding: 34px 30px 16px;
  text-align: center;
  text-transform: uppercase;
}

.hero__text {
  margin: 0;
}

.main-footer {
  padding: 42px 20px 32px;
  text-align: center;
  text-transform: uppercase;
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.main-footer__copyright {
  color: #000000;
  text-decoration: none;
}

.main-nav__list {
  display: none;
  align-items: center;
  background-color: #81b3d2;
}

.search {
  padding: 42px 18px 48px;
  text-align: center;
  text-transform: uppercase;
}

.search__title {
  margin: 0 0 19px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.search__text {
  margin: 0 0 32px;
}

.site-list__item {
  padding: 20px 17px 10px;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.site-list__link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  vertical-align: baseline;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.video {
  padding: 18px 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.video__title {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.video__text {
  margin: 0 0 38px;
  padding: 0 10px;
}
/*# sourceMappingURL=style.css.map */