*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

h2 {
  margin: 0;
}
