@font-face {
<<<<<<< HEAD
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
=======
  font-style: normal;
  font-weight: 400;
  font-family: "PT sans";

  font-display: swap;
  src: url("../fonts/ptsans.woff2") format(woff2),
    url("../fonts/ptsans.woff") format(woff);
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT sans";

  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format(woff2),
    url("../fonts/ptsansbold.woff") format(woff);
>>>>>>> 474e62bb8cbfc7cfe15f498a7b0bae5c64e477d1
}
